<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Postre</th>
            <th>Ingrediente</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for postreingrediente in postreingredientes %}
        <tr>
            <td>{{ postreingrediente.idPostreingrediente }}</td>
            <td>{{ postreingrediente.nombrePostre }}</td>
            <td>{{ postreingrediente.nombreIngrediente }}</td>
            <td>{{ postreingrediente.Cantidad }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
